.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(245, 238, 238);
    background-clip: border-box;
    border: 10px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    
}

img, svg {
   
    height: 140px;
    background-size: cover;
}

h1{
    font-family: 'Times New Roman', Times, serif;

}
h4{
    font-family: cursive;
}
